.project_card_holder {
    padding: 20px;
    border-radius: 2px;
    background-color: var(--secondary-color);
}

.project_card_folder_icon {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.5px dotted var(--primary-color);
}

.project_card_github_icon {
    color: var(--primary-color);
    font-size: 20px;
}

.project_card_content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project_card_headline {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: var(--primary-fonts);
    line-clamp: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project_card_subheadline {
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project_card_miniheadline {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}