.footer_section {
    padding: 30px 0;
    background-color: var(--secondary-color);
}

.footer_items_link {
    color: white;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: var(--primary-fonts);
}

.footer_copyright_text {
    color: white;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: var(--primary-fonts);
}

.footer_social_icons {
    color: var(--primary-color);
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 0.5px dotted var(--primary-color);
    transition: all 0.5s ease-in-out;

    &:hover {
        color: white;
        background-color: var(--primary-color);
    }
}