.navbar_bg {
    width: 100%;
    padding: 15px 0;
    position: absolute;
    top: 0;
    z-index: 9999;
    background-color: var(--theme-color);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky_nav {
    background-color: var(--theme-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.navbar_brand_logo {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 2px 8px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    background-color: var(--primary-color);
}

.navbar_brand_logo_text {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}

.nav_links {
    color: white !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: var(--primary-fonts);
}

.navbar_github_btn {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 15px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 2px;
    font-family: var(--primary-fonts);
    background-color: var(--primary-color);
    border: 1px dotted var(--primary-color);
    transition: all 0.5s ease-in-out;

    &:hover {
        color: var(--primary-color);
        background-color: transparent;
        border: 1px dotted var(--primary-color);
    }
}

.navbar_toggler_icon {
    color: white;
    width: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid dotted;
}

button:focus:not(:focus-visible) {
    outline: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px 0;
    }

    .navbar_brand_logo {
        font-size: 14px;
    }

    .navbar_brand_logo_text {
        font-size: 16px;
    }
}