.home_section {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}

.section_headline {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    padding: 4px 6px;
    background-color: transparent;
    border-radius: 100px;
    font-family: var(--primary-fonts);
    border: 1px dotted var(--primary-color);
}

.home_section_headline {
    color: white;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: var(--primary-fonts);
}

.home_section_subheadline {
    color: gray;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-family: var(--primary-fonts);
}

.home_section_btn1 {
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 6px 15px;
    border-radius: 2px;
    font-family: var(--primary-fonts);
    background-color: var(--primary-color);
    border: 1px dotted var(--primary-color);
    transition: all 0.5s ease-in-out;

    &:hover {
        color: var(--primary-color);
        background-color: transparent;
        border: 1px dotted var(--primary-color);
    }
}

.home_section_btn2 {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    padding: 6px 15px;
    font-family: var(--primary-fonts);
    background-color: var(--primary-color);
    background-color: transparent;
    border-radius: 2px;
    border: 1px dotted var(--primary-color);
    transition: all 0.5s ease-in-out;

    &:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px dotted var(--primary-color);
    }
}

.hero_image_holder {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;

}

.hero_image_wrapper {
    max-width: 60%;
    height: auto;
    border: 1px dotted;
    padding-top: 20px;
    border-radius: 2px;
    /* position: relative; */
}

.coding_language_icon_holder {
    max-width: 30%;
    position: absolute;
    bottom: 20px;
    right: 15%;
}

/* --- ABOUT EXPRIENCE --- */
.about_experience {
    width: 100%;
    margin-bottom: 100px;
}

.about_experience_count_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.about_experience_count {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: var(--primary-fonts);
    margin-bottom: 5px;
}

.about_experience_text {
    color: white;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}

/* --- ABOUT SECTION --- */
.about_section {
    margin-bottom: 100px;
}

.about_section_headline {
    color: white;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: var(--primary-fonts);
}

.about_section_subheadline {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}

.about_card_holder {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 20px;
    border-radius: 2px;
}

.about_card_folder_icon {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.5px dotted var(--primary-color);
}

.about_card_headline {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    line-clamp: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.about_card_subheadline {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: var(--primary-fonts);
}

.about_card_reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.about_card_review_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 5px;
}

.about_card_review_headline {
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}

.about_card_review_subheadline {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}


/* --- TECH STACK AND EXPERTISE --- */
.tech_stack_experties {
    margin-bottom: 80px;
}

.tech_stack_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0 10px 10px;
}

.tech_stack_icon {
    color: var(--primary-color);
    font-size: 50px;
}

.tech_stack_name {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--primary-fonts);
}

.section_headline_name {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}

.section_headline_name_color {
    color: var(--primary-color);
}

.section_subheadline_name {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: var(--primary-fonts);
}

/* --- SERVICE SECTION --- */
.service_section {
    margin-bottom: 80px;
}

.service_card_holder {
    padding: 20px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service_card_icon {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.5px dotted var(--primary-color);
}

.service_card_headline {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    line-clamp: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.service_card_subheadline {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: var(--primary-fonts);
}

/* --- PROJECT SECTION --- */
.project_section {
    margin-bottom: 60px;
}

/* --- CONTACT SECTION --- */
.contact_section {
    margin-bottom: 80px;
}

.form_label {
    color: white;
}

.contact_btn {
    width: 20%;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 400;
    padding: 6px 15px;
    font-family: var(--primary-fonts);
    background-color: var(--primary-color);
    background-color: transparent;
    border-radius: 2px;
    border: 1px dotted var(--primary-color);
    transition: all 0.5s ease-in-out;

    &:hover {
        color: white;
        background-color: var(--primary-color);
        border: 1px dotted var(--primary-color);
    }
}

.contact_section_headline {
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    margin-bottom: 5px;
}

.contact_section_subheadline {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    margin: 10px 0 20px;
}

.contact_holder {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.contact_holder_icon {
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.5px dotted var(--primary-color);
}

.contact_holder_text_headline {
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    display: block;
}

.contact_holder_text_subheadline {
    color: gray;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}





@media only screen and (max-width: 576px) {
    .home_section {
        height: 100vh;
    }

    .home_section_headline {
        font-size: 20px;
    }

    .home_section_subheadline {
        font-size: 14px;
    }

    .hero_image_holder {
        justify-content: center;
    }

    .hero_image_wrapper {
        max-width: 100%;
    }

    .coding_language_icon_holder {
        left: 40%;
        max-width: 50%;
        transform: translateX(-40%);
    }
}