@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-fonts: "Poppins", sans-serif;
  --primary-color: #ff00c8;
  --secondary-color: #10192d;
  --theme-color: #0F1729;
}

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--theme-color);
}

main {
  margin-top: 70px;
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

a {
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;
}

p {
  padding: 0px;
  margin: 0px;
}

span {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

.form-select,
.form-label,
.form-control,
.form-check-label {
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: var(--primary-fonts);
  letter-spacing: 1px;
  background-color: transparent;
}

.form-control {
  border: 1px dotted var(--primary-color);
}

.form-select:focus,
.form-control:focus {
  color: white;
  box-shadow: none !important;
  background-color: transparent;
}

.form-control::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--primary-fonts);
  letter-spacing: 1px;
}


/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.dropdown-toggle::after {
  display: none;
}